/*
Theme Name: Chat21
Description: A <a href='http://www.frontiere21.com'>Frontiere21 Child Theme</a> for the Wordpress installation of Chat21.
Version: 1.0
Author: Frontiere21
Author URI: http://www.frontiere21.com
Template: enfold
*/



/*Add your own styles here:
================================================== */
.av-subnav-menu .current-menu-item.current_page_item .avia-menu-text {
	
	font-size: 18px;
	color: #615f8b;
}

.av-subnav-menu .current-menu-item.current_page_item .avia-menu-text:hover {
	
	color: gray;
}



html {
    background-color: white !important;
}


#scroll-top-link {
    display: none !important;
}

/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */
	/* home section sdk */
	.chat21-griglia-sdk {
	height: 550px;
}
	
	
	
	/* menu documentazione */
	
	.inner_sidebar.extralight-border {
   /* position: fixed;*/
	}
	
	
	
	
	.menu-documentation-ios-container {
	position: fixed;
	top: 200px;
	}
	.menu-documentation-ios-container a 
	{ 
		padding-right: 12px;
		padding-left: 12px;
			
	}
	.menu-documentation-ios-container a:focus
	{ 	color: white; 	
		background-color: black;
		padding-right: 12px;
		padding-left: 12px;	
	}
	
	
	.menu-documentation-ios-container .current-menu-item {
	padding-right: 0px !important;
	}
	
	
	.menu-documentation-android-container {
	position: fixed;
	top: 250px;
	}
	.menu-documentation-android-container a 
	{ 
		padding-right: 12px;
		padding-left: 12px;
			
	}
	.menu-documentation-android-container a:focus 
	{ 	color: white; 	
		background-color: black;
		padding-right: 12px;
		padding-left: 12px;	
	}
	
	.menu-documentation-android-container .current-menu-item {
	padding-right: 0px !important;
	}

}



/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */

}
/* from custom css */
.image-overlay {
 visibility: hidden;
 }


div#prodotti div.av-inner-masonry-content-pos div.av-masonry-entry-content.entry-content {
	font-size: 17px !important;
	text-align: center;
	line-height: 1.0em !important;
}


#f21numeri {
display: none !important;
}


#f21numeri_titolo {
display: none !important;
}


@font-face {
font-family: 'Arial Rounded MT Bold';
font-style: normal;
font-weight: normal;
src: local('Arial Rounded MT Bold'), url('https://chat21.github.io/wp-content/themes/enfold-child/ARLRDBD_0.woff') format('woff');
}


#head-chat21 p {
ont-size: 28px;
	line-height: 1.21053;
	font-weight: 600;
	letter-spacing: .012em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
color: #111;
}


#chat21-griglia h1   {
font-size: 28px;
	line-height: 1.21053;
	font-weight: 600;
	letter-spacing: .012em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
color: #111;
}
#chat21-griglia p {
font-size: 22px;
line-height: 1.37349;
font-weight: 500;
letter-spacing: .019em;
color: #111;
text-align: left;
font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#chat21-griglia h2 {
	font-size: 28px;
	line-height: 1.21053;
	font-weight: 600;
	letter-spacing: .012em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
color: #111;
}


#chat21-griglia-community p {
font-size: 18px;
line-height: 1.27349;
font-weight: 400;
letter-spacing: .016em;
color: gray;
text-align: left;
font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#chat21-griglia-community h3 {
	font-size: 32px;
	padding-bottom: 14px !important;
	line-height: 1.21053;
	font-weight: 600;
	letter-spacing: .012em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	color: #111;
}

#chat21-griglia-multipiattaforma h3 {
	font-size: 30px;
       padding-top: 16px !important;
	padding-bottom: 14px !important;
	line-height: 1.21053;
	font-weight: 600;
	letter-spacing: .012em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	color: #111;
}

#chat21-griglia-vantaggi h1{
 font-size: 32px;
	padding-bottom: 14px !important;
	line-height: 1.21053;
	font-weight: 600;
	letter-spacing: .012em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	color: #111;
}

#chat21-griglia-vantaggi p {
	font-size: 16px;
}

#top #wrap_all .av-social-link-github:hover a{
    color:#fff; 
    background-color:#9fae37; 
}

@media only screen and (max-width: 1024px) {
  /* Add your Mobile Styles here */
  
  #chat21-griglia p {
	font-size: 18px;
	line-height: 1.37349;
	font-weight: 500;
	letter-spacing: .019em;
	color: #111;
	text-align: left;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

}
@media only screen and (max-width: 768px) {
#head-chat21 .av-special-heading.av-special-heading-h1.blockquote.modern-quote.modern-centered.avia-builder-el-3.avia-builder-el-no-sibling {
	background-color: rgba(255, 255, 255, 0.53);
	border-radius: 20px;
	padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
}

/* END -- from custom css */



/* from option css */

#head-chat21-ionic .av-special-heading.av-special-heading-h1.blockquote.modern-quote.modern-centered.avia-builder-el-3.avia-builder-el-no-sibling {
	background-color: rgba(59,110,164,0.60);
	border-radius: 20px;
	padding: 30px 10px 30px 10px !important;
}

#head-chat21-ionic p {
font-size: 24px;
	line-height: 1.21053;
	font-weight: 500;
	letter-spacing: .018em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
color: #ffffff;
padding-top: 22px; 
}

#head-chat21-ionic {
	max-height: 752px;
}



#new-chat21-first-sect .avia_image {
	width: 100% !important;
}
#new-chat21-first-sect .avia-image-container-inner {
	margin-right: -230px;
	float: right;
        max-width: none;
}

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */
#logo {
	height: 520px;
	min-height: 320px;
	vertical-align: middle;
	padding: 15px;
	display: table-cell;
	text-align: center !important;
}
}


#chat21-icon-sect .iconbox_icon.heading-color {
	width: 94px;
	height: 94px;
	font-size: 32px;
	line-height: 92px;
}

#chat21-griglia p {
	font-size: 19px !important;
	line-height: 1.27349;
	font-weight: 400 !important;
	letter-spacing: .039em;
	color: #111;
	text-align: left;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

#chat21-griglia-sdk .iconbox.iconbox_top.el_before_av_button.avia-builder-el-first {
	margin-bottom: 5px;
}



/* END -- from option css */


/*Store Badge */
#image-badges {
	display: inline-block;
}

#logo #badges {
	width: 155px !important;
	display: inline-block;
}

#logo {
	text-align: center !important;
}